<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <add name="ServiceLogContext"
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB;
                           Initial Catalog=DocService;
                           Integrated Security=False;
                           User Id=sa;Password=123456;
                           MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <entityFramework>
    <contexts>
      <context type="DocumentProcessing.Model.ServiceLogContext, DocumentProcessing"
               disableDatabaseInitialization="true" />
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="MSSQLLocalDB" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <ServiceLoggingBehavior />
          <ServiceErrorHandleBehavior />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="mainBinding"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 transferMode="StreamedResponse">
          <readerQuotas maxDepth="32"
                        maxArrayLength="2147483647"
                        maxNameTableCharCount="2147483647"
                        maxStringContentLength="2147483647"
                        maxBytesPerRead="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <extensions>
      <behaviorExtensions>
        <add name="ServiceLoggingBehavior"
             type="Ninject.Extensions.Wcf.BaseNinjectBehaviorExtensionElement+NinjectBehaviorExtensionElement`1[[DocumentProcessing.Implementations.ServiceLoggingBehavior, DocumentProcessing]], Ninject.Extensions.Wcf" />
        <add name="ServiceErrorHandleBehavior"
             type="Ninject.Extensions.Wcf.BaseNinjectBehaviorExtensionElement+NinjectBehaviorExtensionElement`1[[DocumentProcessing.Implementations.ServiceErrorHandleBehavior, DocumentProcessing]], Ninject.Extensions.Wcf" />
      </behaviorExtensions>
    </extensions>

    <services>
      <service name="DocumentProcessing.Implementations.DocumentService"
               behaviorConfiguration="Default">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/DocumentProcessing" />
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding"
                  bindingConfiguration="mainBinding"
                  contract="DocumentProcessing.Interfaces.IDocumentService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>