<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="TestFilePath" value="test.pdf" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDocumentService"
                 receiveTimeout="00:30:00"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647"  />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8081/DocumentProcessing"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDocumentService"
                contract="DocService.IDocumentService"
                name="BasicHttpBinding_IDocumentService" />
    </client>
  </system.serviceModel>
</configuration>