<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8081/DocumentProcessing"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentService"
        contract="DocService.IDocumentService" name="BasicHttpBinding_IDocumentService" />
    </client>
    <services>
      <service name="DocumentProcessing.Implementations.DocumentService" behaviorConfiguration="Default">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/DocumentProcessing" />
          </baseAddresses>
        </host>
        <endpoint
          binding="basicHttpBinding"
          bindingConfiguration="mainBinding"
          contract="DocumentProcessing.Interfaces.IDocumentService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="mainBinding" maxReceivedMessageSize="67108864"
          transferMode="StreamedResponse" />
        <binding name="BasicHttpBinding_IDocumentService" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>